.wrapper{
  position: relative;
}

.footer{
  height: 40px;
  width: 100%;
  background-color: #274176;
  position: absolute;
  bottom: 0;
}

.footer_name{
  font-size: 20px;
  color: #e1c188;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}