.header{
  height: 100px;
  width: 100vw;
}

.board{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #274176;
  margin: 0 30px;
}

.title{
  font-size: 60px;
  font-weight: bold;
  color: #e1c188 ;
  text-decoration: none;
  margin-left: 60px;
}

.log-out{
  font-size: 25px;
  margin: 30px 100px;
}

.auth-links{
  display: flex;
  gap: 30px;
  font-size: 25px;
  margin: 30px 60px;
}

.login{
  font-weight: bold;
  color: #e1c188;
  text-decoration: none;
}
.sign-up{
  font-weight: bold;
  color: #e1c188;
  text-decoration: none;
}

.logout{
  font-weight: bold;
  color: #e1c188;
  text-decoration: none;
}

@media (max-width: 599px){
  .header{
    height: 50px;
  }

  .board{
    height: 50px;
  }
  
  .title{
    height: 50%;
    font-size: 30px;
    margin-left: 10px;
  }

  .log-out{
    font-size: 15px;
    margin: 15px 10px;
  }
}