.header{
  height: 100px;
  width: 100vw;
  background-color: #e1c188;
}

.board{
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #274176;
  margin: 0 30px;
}

.title{
font-size: 60px;
text-decoration: none;
color: #e1c188 ;
margin-left: 60px;
font-weight: bold;
}

.log-out{
  margin: 30px 100px;
  font-size: 25px;
}

.auth-links{
  display: flex;
  gap: 30px;
  font-size: 25px;
  margin: 30px 60px;
}

.login{
  text-decoration: none;
  color: #e1c188;
  font-weight: bold;
}
.sign-up{
  text-decoration: none;
  color: #e1c188;
  font-weight: bold;
}

.logout{
  text-decoration: none;
  color: #e1c188;
  font-weight: bold;
}

@media (max-width: 599px){
  .header{
    height: 50px;
  }

  .board{
    height: 50px;
  }
  
  .title{
    height: 50%;
    font-size: 30px;
    margin-left: 10px;
  }

  .log-out{
    font-size: 15px;
    margin: 15px 10px;
  }
}