<div>
  <%= @post.title %>
</div>
<div>
  <%= @post.content %>
</div>
<div id="like-btn">
  <%= render partial: "likes/like", locals: { post: @post} %>
</div>
<div>
<%= link_to "マイページに戻る", root_path %>
</div>