.main{
  height: 100%;
}

.h1{
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: #274076;
}

.icon_area{
  height: 150px;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user_name{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #274076;
}

.icon{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.output_link{
  height: 50px;
  width: 100wh;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.output__link{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #274076;
}

.post_all{
  display: flex;
  justify-content: space-around;
}

.post_area{
  width: 25%;
  height: 300px;
  overflow: scroll;
  background-color: antiquewhite;
  margin: 0 15px;
}

.h2{
  background-color: #274076;
  font-size: large;
  color: #e1c188;
  padding-left: 10px;
}

.post_content{
  margin-top: 8px;
  padding:0 10px;
}

.post_title{
  overflow: scroll;
  text-decoration: none;
}

.other_post{
  margin: 40px 20px 0 20px;
  padding-bottom: 100px;
}

.others_post_title{
  background-color: #274076;
  font-size: large;
  color: #e1c188;
  padding-left: 10px;
}

.other_post_contents{
  background-color: antiquewhite;
  padding: 4px 10px;
}

.other_post_content{
  text-decoration: none;
}

/*スマホ表示*/
@media (max-width: 599px){
  .h1{
    height: 20px;
    font-size: large;
    padding-top: 10px;
  }
  
  .icon{
    height: 100px;
    width: 100px;
  }

  .output_link{
    margin-top: 0px;
  }
  .post_all{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  
  .post_area{
    height: 150px;
    width: 90%;
    margin-bottom: 10px;
  }
}