.show_main{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #274176;
  font-weight: bold;
  padding-top: 45px;
}

.show_image{
  display: flex;
}

.show_box{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 18px;
}

.show__box{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 3px;
}
.show_title{
  font-size: large;
  background-color: #274176;
  color: #e1c188;
  padding-left: 5px;
}


.show__title{
  padding-left: 5px;
}
.show_content{
  height: 250px;
  width: 400px;
  overflow: scroll;
  overflow-wrap: break-word;
  padding: 0 5px;
}
.show_name{
  padding-left: 5px;
}

.show_created{
  padding-left: 5px;
}

.show_btn{
  margin-top: 10px;
}

.show___btn{
  text-decoration: none;
  color: darkred;
}

.post_likes{
  text-decoration: none;
  color: #274176;
}

/******
shared
*******/

.show_index_btn{
  text-decoration: none;
  color: #274176;
  font-weight: bold;
  margin-bottom: 100px;
}


/*スマホ表示*/

@media (max-width: 599px){
  .show_box{
    width: 300px;
  }

  .show_content{
    width: 300px;
    height: 150px;
  }
}