.user_edit_main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: #274176;
  padding-top: 40px;
}

.edit_new_field{
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.edit__new__field{
  padding-left: 5px;
}

.edit___new___field{
  padding-left: 3px;
}

.edit_actions{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 80px 0 ;
}

.edit_action{
  margin-top: 15px;
}

.edit__action{
  height: 30px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  color: #274176;
  text-decoration: none;
}

.edit__action_delete{
  height: 30px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  color: darkred;
  text-decoration: none;
}

.devise_h2{
  font-size: large;
  font-weight: bold;
  color: #274176;
}