.mains{
  height: 100vh;
  width: 100wh;
  background-color: #e1c188;
}

.devise_main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.field{
  height: 100px;
  padding-top: 60px;
}

.f_label{
  width: 100px;
  font-weight: bold;
  color: #274176;
}

.actions{
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.f_box{
  width: 250px;
}

.devise_shared{
  height: 40px;
  margin-bottom: 150px;
}

.devise_links{
  font-weight: bold;
  color: #274176;
  text-decoration: none;
}